@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0 100px;
}



.grid-space {
    grid-area: space;
}

.grid-share {
    grid-area: share;
    padding-top: 5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'photo photo space space space'
        'photo photo me me me'
        'more more more more more'
        'mtext mtext mtext mtext mtext'
        'share share share share share';
}

.grid-photo,
.grid-space {
    padding-top: 10%;
}

.grid-photo {
    grid-area: photo;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-photo img {
    width: 80%;
}

.grid-text {
    grid-area: me;
    text-align: justify;
}

.or-highlight {
    color: #F3A774;
}


.grid-more {
    grid-area: more;
    padding-top: 5%;
}


.grid-mtext {
    grid-area: mtext;
    background-color: #274782;
    padding: 30px 36px 30px;
    margin-top: -20px;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.grid-mtext:hover{
    transform: scale(1.02);
}

.grid-mtext>p {
    font-family: 'Futura';
    color: #EEE8E8;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
}




.grid-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.me-cards {
    justify-content: center;
    background-color: #F3A774;
    border-radius: 20px;
    width: 21vw;
    height: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 50% 0;
    transition: transform 0.2s ease-in-out;
}

.me-cards:hover {
    transform: scale(1.05);
}


.me-cards>h3 {
    color: #274782;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 900;
    font-size: 2.08vw;
    line-height: 2.76vw;
    text-align: center;
}




/* This code indicates the responsive screen for 1024px */
@media screen and (max-width: 1024px) {

    .grid-mtext > p {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .grid-photo img {
        width: 90%;
    } 

}



/* This code indicates the responsive screen for 768px */
@media screen and (max-width: 768px) {
    body {
        margin: 0 10vw;
    }

   
    .grid-container {
        display: grid;
        grid-template-areas:
            'photo me'
            'more more'
            'mtext mtext'
            'share share';
        justify-content: center;
        align-items: center;
    }

  .grid-photo {
        grid-area: photo;
    } 

    .grid-photo>img {
        min-width: 90%; 
        object-fit: cover;
    }


    .grid-mtext>p {
        font-size: 1rem;
        line-height: 1.313rem;
    }

    .me-cards {
        width: 20.2vw;
        height: 20.2vw;
    }

    .me-cards>h3 {
        font-weight: 800;
        font-size: 22px;
        line-height: 24px;

    }
}





/* This code indicates the responsive screen for 480px */
@media screen and (max-width: 480px) {
    body {
        margin: 0 4vw;
    }


    h3 {
        font-weight: bold !important;
    }


    .grid-container {
        display: grid;
        grid-template-areas:
            'me'
            'photo'
            'more'
            'mtext'
            'share';
        justify-content: center;
        align-items: center;
    }


    .grid-photo>img {
        width: 80%;
    }

    .grid-text {
        margin-bottom: -10%;
    }

    .grid-more {
        padding:5% 0;
    }


    .grid-mtext {
        padding: 15px 30px;
    }

    .grid-mtext>p {
        font-size: .875rem;
        line-height: 1.188rem;
    }

    .me-cards {
        border-radius: 5.5px;
        width: 109.74px;
        height: 109.46px;

    }

    .me-cards>h3 {
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.188rem;
    }

}