@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* this is my hero -------------------*/

.hero-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 31.25vw;
    margin-bottom: 10rem;
    justify-content: center;
}

.hero-photo {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    height: 75%;
    margin: 0 -100px 32px;
 
}


.left-hero {
    background-color: #274782;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 75%;
}

div.left-hero h1 {
    padding-right:15%;
    margin:0 10%;
    color: #F3A774;
}

.right-hero {
    background-color: #F3A774;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 75%;
}

div.right-hero h1 {
    padding-left:15%;
    margin: 0 10%;
    color: #274782;
}



.mid {
    left: 39%;
    position:absolute;
    width: 22%;
    top:-3%;
    transform: scale(1);
    transition: all 1s ease-in-out;
}

.mid:hover {
    transform: scale(1.1);
  }

img {
    width:100%;
    height: auto;
}

.hero-text {
    color: #4A4A4A;
    text-align: center;
    font-family: 'Futura';
    font-style: normal;
    height:25%;
}


#hr {
    color: #F3A774;
}

#UIUX {
    color: #274782;
}

.HRUI p {
    margin: 0% 10%;
    padding: 1rem;
    text-align: justify;
}



/* this is my cards --------------------------- */
body {
    display: flex;
    height: 60%;
    display: block;
    margin:0 100px;
    overflow-x: hidden; 
    overflow-y: auto; 
}



.grid-container {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 0;
    gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFDDBB;
    padding: 1.5rem 1rem;
    border-radius: 30px;
    width: 34rem;
    height: 40rem;
    gap: 1rem;
    position:relative;
    overflow: hidden;
    
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color:#F3A774;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease, opacity 1s ease;
}
  
  .circle.expanded {
    width: 200%;
    height: 200%; 
    opacity: 1;
    border-radius: 50%;
  } 



.grid-item:hover {
    background-color: #F9D181;
    
}


.grid-item h2,
.grid-item  p {
    margin:0;
    padding: 0;
    text-align: center;
    z-index: 1;
} 


.grid-item > a {
    text-decoration: none;
}


.grid-text {
    z-index: 1;
}

.carousel-photo1 {
    width: 516px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.carousel-photo2 {
    width: 152px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.task {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #274782;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #4A4A4A;
    padding:0 12px;
}

.photo {
    display: flex;
    justify-content: center;
}


.more-project {
    text-align: center;
    padding: 12px;
    margin-bottom: 100px;
}

.more-project a {
    text-decoration: none;
    color: #274782;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
}


  
  .more-project a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #274782;
    transition: height .5s ease-in-out;
    z-index: -1;
    border-radius: .8rem;
  }
  
  .more-project a:hover::before {
    height: 100%;
  }

  .more-project a:hover {
    color: #F3A774;
  }



footer {
    display: block;
}

.footer-text h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #274782;
    text-align: center;
    padding-bottom: 32px;
    justify-content: center;
}

.socials {
    display: flex;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;

}

.socials img {
    transition: transform 0.3s ease-in-out;
  }
  
  .socials img:hover {
    transform: scale(1.1);
  }





/* This code indicates the responsive screen for 1024px */
@media screen and (max-width: 1024px) {

    .grid-container div {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }

    .grid-container {
        grid-column-gap: 0;
    }
    
    .grid-item {
      grid-column: 1;
      justify-content: center;
    }


    .grid-item:hover {
        background-color: initial;
        
    }
    
    .grid-item h2 {
    padding-top: 3rem;
}

    .grid-text {
    height: fit-content;
}

    .carousel-photo1 {
        width: 20rem;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
        margin: 0 auto;
        padding-bottom: 5rem;
    }
    
    .carousel-photo2 {
        width: 152px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
        margin: 0 auto;
    }

    .footer-text h2 {
        font-size: 2.0rem;
        line-height: 2.6rem;
    }


}








/* This code indicates the responsive screen for 768px */
@media screen and (max-width: 768px) {
    body {
        margin: 0 10vw;
    }


    .hero-wrapper {
    height: 20rem;
    margin-bottom: 10rem;
    }

    .hero-photo{
    margin: 0 -10vw;
    }

    .mid {
        left: 37%;
        position:absolute;
        width: 24%;
        top:2%;
    }

    .hero-text > p {
        margin-top: -20px;
    }
  
    .socials > a {
        display: inline-flex;
        justify-content: center;
    }

   a > img {
        width: 50%;
    }

}


/* This code indicates the responsive screen for 480px */
@media screen and (max-width: 480px) {
    body {
        margin: 0 4vw;
    }

    nav {
        margin-bottom: 30px;
    }

    .dropdown-menu.active {
        margin-top: -10px;
    }

    .hero-wrapper {
        width: fit-content;
        margin-bottom: 10px;

    }

    .hero-photo {
        height: 100%;
        margin: 0 -4vw;
        margin-top: -6rem;
    }

    .mid {
        left: 32%;
        position:absolute;
        width: 36%;
        top: 27%;
    }

    div.left-hero h1 {
        padding-right:0%;

    }
    div.right-hero h1 {
        padding-left:0%;

    }



    .more-project  a{
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 80px;
    }

    .footer-text h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }


    .grid-text > p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .grid-item {
        border-radius: 30px;
        width: 20rem;
        height: 28rem;
        gap: 1rem;
    }

    #card1 {
        margin-top: 150px;
    }

    .grid-item > h2 {
        margin-top: -2.5rem;
    }


    .carousel-photo1 {
        width: 18rem;
        margin-top: -1rem;
        padding-bottom: 2rem;
    }
    
    .carousel-photo2 {
        width: 8rem;

    }


}

