@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* This is navigation */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2%;
    margin-top: 60px;
    gap: 2rem;
}

h1 {
    font-family: 'league spartan';
    font-style: normal;
    font-weight:700;
    font-size: 8rem;
    line-height: 9rem;
    transition: font-size 0..5s ease-in-out;
}

h2 {
    font-family: 'Futura';
    font-style: normal;
    font-weight:bold;
    font-size: 3.75rem;
    line-height: 5rem;
    color: #274782;
    transition: font-size 0..5s ease-in-out;
}

h3 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 800;
    line-height: 3.25rem;
    font-size: 2.5rem;
    transition: font-size 0..5s ease-in-out;
}

p {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #4A4A4A;
}

.logo-wrapper {
    width: 200px;
    min-width: 150px;
    overflow: hidden;
}

#logo {
    width: 150%;
    min-width: 100%;
    margin-left: -20px;
}

.main-nav {
    display: flex;
    gap: 1rems;
}

.main-nav > p {
    padding: 0 1rem;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vmin;
    color: #4a4a4a; 
}

.main-nav > p > a {
   text-decoration: none;
}

.icon-nav {
    display: none;
}


/* dropdown menu ------------ */
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 0;
    transition: all 0.3s ease;
    transform: translateY(-100%);
}

.dropdown-menu.active {
    display:block;
    transform: translateY(0);
  }


/* this is my hero -------------------*/

.hero-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 31.25vw;
    margin-bottom: 10rem;
    justify-content: center;
}

.hero-photo {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    height: 75%;
    margin: 0 -100px 32px;
 
}


.left-hero {
    background-color: #274782;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 75%;
}

div.left-hero h1 {
    padding-right:15%;
    margin:0 10%;
    color: #F3A774;
}

.right-hero {
    background-color: #F3A774;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 75%;
}

div.right-hero h1 {
    padding-left:15%;
    margin: 0 10%;
    color: #274782;
}



.mid {
    left: 39%;
    position:absolute;
    width: 22%;
    top:-3%;
    transform: scale(1);
    transition: all 1s ease-in-out;
}

.mid:hover {
    transform: scale(1.1);
  }

img {
    width:100%;
    height: auto;
}

.hero-text {
    color: #4A4A4A;
    text-align: center;
    font-family: 'Futura';
    font-style: normal;
    height:25%;
}


#hr {
    color: #F3A774;
}

#UIUX {
    color: #274782;
}

.HRUI p {
    /* font-size: 2.5vmin; */
    margin: 0% 10%;
    padding: 1rem;
}



/* this is my cards --------------------------- */
body {
    display: flex;
    height: 60%;
    display: block;
    margin:0 100px;
    overflow-x: hidden; 
    overflow-y: auto; 
}


.grid-container {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 0;
    gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFDDBB;
    padding: 1.5rem 1rem;
    border-radius: 30px;
    width: 34rem;
    height: 40rem;
    gap: 1rem;
    position:relative;
    overflow: hidden;
    
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color:#F3A774;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease, opacity 1s ease;
}
  
  .circle.expanded {
    width: 200%;
    height: 200%; 
    opacity: 1;
    border-radius: 50%;
  } 



.grid-item:hover {
    background-color: #F9D181;
    
}


.grid-item h2,
.grid-item  p {
    margin:0;
    padding: 0;
    text-align: center;
    z-index: 1;
} 


.grid-item > a {
    text-decoration: none;
}


.grid-text {
    z-index: 1;
}

.carousel-photo1 {
    width: 516px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.carousel-photo2 {
    width: 152px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.task {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #274782;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #4A4A4A;
    padding:0 12px;
}

.photo {
    display: flex;
    justify-content: center;
}


.more-project {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #274782;
    padding: 12px;
    margin-bottom: 200px;
}

footer {
    display: block;
}

.footer-text h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #274782;
    text-align: center;
    padding-bottom: 32px;
    justify-content: center;
}

.socials {
    display: flex;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;

}





/* responsive screen for 1024 ---------- */
@media screen and (max-width: 1024px) {
    .hero-wrapper {
        margin-bottom: 8rem;
    }
    
    h1 {
        font-size: 5.6rem;
        line-height: 6.3rem;
    }
    h2 {
        font-size: 3.0rem;
        line-height: 4rem;

    }

    h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h4 {
        line-height: 1.75rem;
        font-size: 1.5rem;
    }

    p {
        line-height: 1.75rem;
        font-size: 1.4rem;
    }

    .grid-container div {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }

    .grid-container {
        grid-column-gap: 0;
    }
    
    .grid-item {
      grid-column: 1;
      justify-content: center;
    }
    
    .grid-item h2 {
    padding-top: 3rem;
}

    .grid-text {
    height: fit-content;
}

    .carousel-photo1 {
        width: 20rem;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
        margin: 0 auto;
        padding-bottom: 5rem;
    }
    
    .carousel-photo2 {
        width: 152px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
        margin: 0 auto;
    }

    .footer-text h2 {
        font-size: 2.0rem;
        line-height: 2.6rem;
    }


}









@media screen and (max-width: 768px) {
    body {
        margin: 0 10vw;
    }

    
    .main-nav {
        display: none;
    }
    
    .icon-nav {
        display: flex;
        width: 40px;
        overflow: hidden;
    }

    #hamburger {
        width: 100%;
    }


      .dropdown-menu.active {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        left: 0;
       z-index: 9999;
        width: 100%;
        background-color: white;
        padding: 0;
        transform: scaleY(1);
      }
    
      
      .dropdown-menu a {
        display: block;
        padding: 10px;
        text-align: center;
        font-family: futura;
        color: #4a4a4a;
        text-decoration: none;
        font-size: 1.2rem;
        transition: transform 0.3s ease;
        
      }

    .logo-wrapper {
        width: 220px;
        overflow: hidden;
    }

    #logo {
        width: 100%;
        margin-left: -50px;
    } 

    .hero-wrapper {
    height: 20rem;
    margin-bottom: 10rem;
    }

    .hero-photo{
    margin: 0 -10vw;
    }

    .mid {
        left: 37%;
        position:absolute;
        width: 24%;
        top:2%;
    }

    h1 {
        font-size: 4.2rem;
        line-height: 5rem;
    }
    h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;

    }
    h3 {
        line-height: 2rem;
        font-size: 1.5rem;

    }

    p {
        line-height: 1.8rem;
        font-size: 1.2rem;
    }

    h4 {
        line-height: 1.5rem;
        font-size: 1.25rem;
    }

    .hero-text > p {
        margin-top: -20px;
    }
  
    .socials > a {
        display: inline-flex;
        justify-content: center;
    }

   a > img {
        width: 50%;
    }

}


/* styles for mobile */
@media screen and (max-width: 480px) {
    body {
        margin: 0 4vw;
    }

    .logo-wrapper {
        width: 200px;
        overflow: hidden;
    }

    #logo {
        margin-left: -45px;
    } 

    .hero-wrapper {
        width: fit-content;
    }

    .hero-photo {
        height: 100%;
        margin: 0 -4vw;
    }


    .mid {
        left: 34%;
        position:absolute;
        width: 32%;
        top: 14%;
    }

    div.left-hero h1 {
        padding-right:0%;

    }
    div.right-hero h1 {
        padding-left:5%;

    }

    h1 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }


    h2 {
        font-size: 2.2rem;
        line-height: 2.8rem;

    }
    h3 {
        line-height: 2rem;
        font-size: 1.3rem;

    }

    .more-project {
        line-height: 1.5rem;
        font-size: 1.125rem;
        margin-bottom: 80px;
    }

    .footer-text h2 {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }


    p {
        line-height: 1.8rem;
        font-size: 1rem;
    }

    .grid-text > p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .grid-item {
        border-radius: 30px;
        width: 20rem;
        height: 32rem;
        gap: 1rem;
    }


    .carousel-photo1 {
        width: 18rem;
        margin-top: -1rem;
        padding-bottom: 2rem;
    }
    
    .carousel-photo2 {
        width: 8rem;

    }


}

