@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0 100px;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    justify-content: center;
    margin-bottom: 30%;
    margin-top: 5%;
}

.link {
    text-decoration: none;
}

/* Flexbox css here */
.flexcontainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #FFDDBB;
    border-radius: 20px;
    height:30vw;
    position:relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.flexcontainer:hover {
    background: #F3A774;
    transform: scale(1.03);

}


.photo-wrapper1 , .photo-wrapper2 {
    width: 40%;
    overflow: hidden;
    padding:5%;
}

.photo-wrapper1 > img {
    width:100%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.photo-wrapper2 {
    display: flex;
    justify-content: center;
}

.photo-wrapper2 > img {
    width:30%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
}

.content {
    width: 60%;
    padding-right: 5%;

}

h2, h5, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

#AustraliaPost {
    background-color:#F9D181;
}

#AustraliaPost:hover {
    background-color:#F3A774;
}



/* This code indicates the responsive screen for 1024px */
@media screen and (max-width: 1024px) {

    #AustraliaPost:hover {
        background-color:#F9D181;
    }

    .flexcontainer:hover {
        background-color: #FFDDBB;
    }

}

/* This code indicates the responsive screen for 768px */
@media screen and (max-width: 768px) {
    body {
        margin: 0 10vw;
    }

    h2 {
        line-height: 2rem !important;
        font-size: 1.75rem !important;
    }

    h5, p {
        line-height: 1.5rem !important;
        font-size: 1rem !important;
    }


}







/* This code indicates the responsive screen for 480px */
@media screen and (max-width: 480px) {
    body {
        margin: 0 4vw;
    }

    h2 {
        font-weight: bold !important;
        line-height: 1.75rem !important;
        font-size: 1.25rem !important;
    }

    h5, p {
        line-height: 1.125rem !important;
        font-size: .875rem !important;
    }

    .flexcontainer {
        height:40vw;
    }

    
}